<a href="https://colab.research.google.com/github/fmr693/Evaluaci-n-DEVOPS/blob/main/Ejercicios_Modificaci%C3%B3n_de_variables.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Establecemos el directorio de trabajo

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [5]:
import os
os.chdir(r"/content/drive/MyDrive/Colab Notebooks")

import pandas as pd
import numpy as np

# 1. Cargar los datos de Train.

In [10]:
df = pd.read_csv(r"train.csv")

(print(df.head(5)))

   Id  MSSubClass MSZoning  LotFrontage  LotArea Street Alley LotShape  \
0   1          60       RL         65.0     8450   Pave   NaN      Reg
1   2          20       RL         80.0     9600   Pave   NaN      Reg
2   3          60       RL         68.0    11250   Pave   NaN      IR1
3   4          70       RL         60.0     9550   Pave   NaN      IR1
4   5          60       RL         84.0    14260   Pave   NaN      IR1

  LandContour Utilities  ... PoolArea PoolQC Fence MiscFeature MiscVal MoSold  \
0         Lvl    AllPub  ...        0    NaN   NaN         NaN       0      2
1         Lvl    AllPub  ...        0    NaN   NaN         NaN       0      5
2         Lvl    AllPub  ...        0    NaN   NaN         NaN       0      9
3         Lvl    AllPub  ...        0    NaN   NaN         NaN       0      2
4         Lvl    AllPub  ...        0    NaN   NaN         NaN       0     12

  YrSold  SaleType  SaleCondition  SalePrice
0   2008        WD         Normal     208500
1   2007        WD         Normal     181500
2   2008        WD         Normal     223500
3   2006        WD        Abnorml     140000
4   2008        WD         Normal     250000

[5 rows x 81 columns]

# 2. Para la variable “MSZoning” eliminar el valor “C (all)” y convertirlo en "C".

In [12]:
print(df["MSZoning"].unique())

df["MSZoning"] = df["MSZoning"].replace("C (all)", "C")

['RL' 'RM' 'C (all)' 'FV' 'RH']
['RL' 'RM' 'C' 'FV' 'RH']

# 3. Comprobar que se ha realizado correctamente el cambio.

In [13]:
print(df["MSZoning"].unique())

['RL' 'RM' 'C' 'FV' 'RH']

# 4. Crear una nueva variable que se llame Crisis.

In [ ]:
df['crisis'] = df['YrSold'] >= 2008

# 5. Convertir esa columna en un valor booleano
Transformar la variable anterior para determinar (Debe tomar los valores Sí o No), basándose en la variable “YrSold”, si la casa se vendió en el periodo sin crisis (antes de 2008) o tras el estallido de la crisis (a partir de 2008).

In [18]:
df['crisis'] = df['YrSold'] >= 2008

Otra manera

In [ ]:
df['crisis'] = np.where(df['YrSold'] >= 2008, "Sí", "No")

# 6. Comprobar que se ha realizado correctamente.

In [19]:
df['crisis']

0        True
1       False
2        True
3       False
4        True
        ...
1455    False
1456     True
1457     True
1458     True
1459     True
Name: crisis, Length: 1460, dtype: bool

# 7. Crear un nuevo grupo de datos con las 10 casas más caras, en función de la variable “SalePrice”.

In [21]:
casasmascaras = df.sort_values('SalePrice', ascending=False).head(10)

print(casasmascaras)

        Id  MSSubClass MSZoning  LotFrontage  LotArea Street Alley LotShape  \
691    692          60       RL        104.0    21535   Pave   NaN      IR1
1182  1183          60       RL        160.0    15623   Pave   NaN      IR1
1169  1170          60       RL        118.0    35760   Pave   NaN      IR1
898    899          20       RL        100.0    12919   Pave   NaN      IR1
803    804          60       RL        107.0    13891   Pave   NaN      Reg
1046  1047          60       RL         85.0    16056   Pave   NaN      IR1
440    441          20       RL        105.0    15431   Pave   NaN      Reg
769    770          60       RL         47.0    53504   Pave   NaN      IR2
178    179          20       RL         63.0    17423   Pave   NaN      IR1
798    799          60       RL        104.0    13518   Pave   NaN      Reg

     LandContour Utilities  ...  Fence MiscFeature MiscVal MoSold YrSold  \
691          Lvl    AllPub  ...    NaN         NaN       0      1   2007
1182         Lvl    AllPub  ...  MnPrv         NaN       0      7   2007
1169         Lvl    AllPub  ...    NaN         NaN       0      7   2006
898          Lvl    AllPub  ...    NaN         NaN       0      3   2010
803          Lvl    AllPub  ...    NaN         NaN       0      1   2009
1046         Lvl    AllPub  ...    NaN         NaN       0      7   2006
440          Lvl    AllPub  ...    NaN         NaN       0      4   2009
769          HLS    AllPub  ...    NaN         NaN       0      6   2010
178          Lvl    AllPub  ...    NaN         NaN       0      7   2009
798          Lvl    AllPub  ...    NaN         NaN       0      7   2009

     SaleType SaleCondition  SalePrice  crisis  HighestPrice
691        WD        Normal     755000   False           1.0
1182       WD       Abnorml     745000   False           2.0
1169       WD        Normal     625000   False           3.0
898       New       Partial     611657    True           4.0
803       New       Partial     582933    True           5.0
1046      New       Partial     556581   False           6.0
440        WD        Normal     555000    True           7.0
769        WD        Normal     538000    True           8.0
178       New       Partial     501837    True           9.0
798       New       Partial     485000    True          10.0

[10 rows x 83 columns]

# 8. Determinar la calle en la que se encuentra la casa más cara.
Consulta Cruzada

In [24]:
fila_mas_cara = df.loc[df['SalePrice'].idxmax()]

fila_mas_cara['street']

KeyError: 'street'

# 9. Crear una variable llamada “Reforma” y que muestre los años que pasaron entre la última  reforma y la venta (YrSold-YearRemodAdd).

In [23]:
df['Reforma'] = df['YrSold'] - df['YearRemodAdd']

df['Reforma']

0        5
1       31
2        6
3       36
4        8
        ..
1455     7
1456    22
1457     4
1458    14
1459    43
Name: Reforma, Length: 1460, dtype: int64

# 11. Guardar los datos.

In [25]:
df.to_csv('train_modificado.csv', index=False)